<div class="container-fluid mt-3" *ngIf="posts">
    <hr>
    <div class="user-card">
        <div class="avatar_mask_profile float-left mr-3" *ngIf="user && user.image">
            <img src="{{url + 'users/avatar/' + user.image}}" alt="Avatar de usuario" class="avatar_nav">
        </div>
        <div class="data-mask float-left">
            <h1> Perfil de {{user.name}} {{user.surname}} </h1>
            <p [innerHTML]="user.description"></p>
        </div>
        <dic class="clearfix"></dic>
    </div>
    <hr>

    <app-post-list [posts]="posts" [identity]="identity"></app-post-list>
</div>