<div class="col-m- mt-3">
    <h1>{{ page_title }}</h1>
    <p>Registrate en nuestra plataforma para subir nuevos posts!!!</p>

    <!-- Formulario -->
    <form class="col-md-5 ml-0 pl-0">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="surname">Apellidos</label>
            <input type="text" name="surname" id="surname" class="form-control">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control">
        </div>

        <div class="form-group">
            <label for="password">Contrasena</label>
            <input type="password" name="password" id="password" class="form-control">
        </div>

        <input type="submit" value="Registame" class="btn btn-success">
    </form>
</div>
