<div class="col-m- mt-3">
    <h1>{{ pageTitle }}</h1>
    <p>Crear una nuvea entrada del blog</p>

    <!-- <div class="alert alert-success col-md-5" *ngIf="status === 'success'">
        Los datos se han modificado correctamente
    </div>

    <div class="alert alert-danger col-md-5" *ngIf="status === 'error'">
        Error al modificar los datos
    </div>
    <hr> -->

    <!-- Formulario de ajustes -->
    <form class="col-md-5 ml-0 pl-0" #postNewForm="ngForm" (ngSubmit)="onSubmit(postNewForm)">
        
    </form>
</div>
