<div class="col-m- mt-3">
    <h1>{{ pageTitle }}</h1>
    <p>Crear una nuvea entrada del blog</p>

    <div class="alert alert-success col-md-5" *ngIf="status === 'success'">
        La entrada se ha guardado correctamente
    </div>

    <div class="alert alert-danger col-md-5" *ngIf="status === 'error'">
        Error al guartdar la entrada
    </div>
    <hr>

    <!-- Formulario de ajustes -->
    <form class="col-md-5 ml-0 pl-0" #postNewForm="ngForm" (ngSubmit)="onSubmit(postNewForm)">
        <div class="form-group">
            <label for="title">Título</label>
            <input type="text" name="title" #title="ngModel" [(ngModel)]="post.title" class="form-control" required>
            <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">El título no es valido</small>
        </div>
        
        <div class="form-group">
            <label for="content">Contenido</label>
            <textarea [froalaEditor]="froalaOptions" name="content" id="content" class="form-control"
                [(ngModel)]="post.content" #content="ngModel" required>
            </textarea>
            <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">El contenido no es valido</small>
        </div>
        
        <input type="submit" value="Guardar" class="btn btn-primary">

    </form>
</div>
