<div class="col-m- mt-3">
    <h1>{{ pageTitle }}</h1>
    <p>Modifica tus datos de usuario</p>

    <div class="alert alert-success col-md-5" *ngIf="status === 'success'">
        Los datos se han modificado correctamente
    </div>

    <div class="alert alert-danger col-md-5" *ngIf="status === 'error'">
        Error al modificar los datos
    </div>
    <hr>

    <!-- Formulario de ajustes -->
    <form class="col-md-5 ml-0 pl-0" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" name="name" id="name" class="form-control" #name="ngModel" [(ngModel)]="user.name"
                required pattern="[a-z-A-Z ]+">
            <small *ngIf="!name.valid && name.touched" class="ivalid-feedback">
                El nombre no es valido
            </small>
        </div>
        <div class="form-group">
            <label for="surname">Apellidos</label>
            <input type="text" name="surname" id="surname" class="form-control" #surname="ngModel"
                [(ngModel)]="user.surname" required pattern="[a-z-A-Z ]+">
            <small *ngIf="!surname.valid && surname.touched" class="ivalid-feedback">
                El apellido no es valido
            </small>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" #email="ngModel" [(ngModel)]="user.email"
                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
            <small *ngIf="!email.valid && email.touched" class="ivalid-feedback">
                El email no es valido
            </small>
        </div>

        <div class="form-group">
            <label for="description">Descripcion</label>
            <textarea [froalaEditor]="froalaOptions" name="description" id="description" class="form-control"
                [(froalaModel)]="user.description">
            </textarea>
        </div>

        <div class="form-group">
            <label for="image">Imagen</label>

            <div *ngIf="identity && identity.image">
                <img src="{{url + 'users/avatar/' + identity.image}}" alt="Avatar de usuario" class="avatar_edit">
            </div>

            <angular-file-uploader [config]="afuConfig" (ApiResponse)="avatarUpload($event)">
            </angular-file-uploader>
        </div>

        <input type="submit" value="Guardar cambios" class="btn btn-success" [disabled]="!userEditForm.valid">
    </form>
</div>